@import url("table.css");
@charset Shift_JIS;


/* eco.css */

div.eco_t {
 font-size: 13px; 
 background-image: url(../img/company/tb2_back.jpg); 
 background-repeat: no-repeat; 
 background-position: left top; 
 text-align: left; 
 width: 860px; 
 height: 230px; 
 margin-top: 5px; 
 margin-left: 5px; 
 padding-top: 12px; 
 padding-bottom: 12px; 
 }


div.company_box {
 color: #333; 
 font-size: 13px; 
 background-repeat: no-repeat; 
 background-position: right top; 
 text-align: left; 
 width: 860px; 
 margin-top: 5px; 
 margin-left: 5px; 
 padding-bottom: 12px; 
 }
 
.photo {
 text-align: right; 
 margin-bottom: 30px; 
 margin-left: 30px; 
 }
 
.sun {
 background-image: url(../img/company/c2_back.jpg); 
 background-repeat: no-repeat; 
 background-position: left top; 
 width: 500px; 
 height: 180px; 
 padding-top: 5px; 
 padding-left: 10p; 
 }
 
.all {
 background-image: url(../img/company/c2_3back.gif); 
 background-repeat: no-repeat; 
 background-position: left top; 
 width: 277px; 
 height: 165px; 
 padding-top: 10px; 
 padding-left: 10px; 
 }
 
.all p {
 font-size: 14px; 
 font-weight: bold; 
 letter-spacing: 2px; 
 vertical-align: middle; 
 }
 
.n_eco {
 background-image: url(../img/company/c2_4back.jpg); 
 background-repeat: no-repeat; 
 background-position: right bottom; 
 width: 860px; 
 }
 
 table.support2 { margin: 0 0 0px 10px; width: 840px; padding-bottom: 35px;}
.support2 td#photo{ padding: 5px; width: 117px;}
.support2 td#text{ padding: 5px; width: 260px;}
.support2 td#text p { margin: 0; }
.support2 td h3{
font-weight: bold;
margin: 0;
background: url(../../support/images/h3bg.jpg) left top no-repeat;
width: 260px;
}

p#eco1 {width: 485px; float: left;}
p#eco2 {margin-left: 500px; width: 325px; padding: 10px; background-color: #CDE9FD; }
td.eco3 {width: 230px;}
td#eco4 {height: 30px;}
div#eco5 { width: 865px; }
h3#eco6 { width: 520px;}


/* atrie.css */
div#atirie02 {
	margin: 20px 0;
}
div#btn{
	margin: 0 0 0 30px;
}
div#btn img {
	display: block;
	float: left;
	padding: 0 10px 0 0;
}


/* company.css */
div.company_t {
 font-size: 13px; 
 background-image : url(../img/company/tb_back.jpg); 
 background-repeat: no-repeat; 
 background-position: 300px top; 
 text-align: left; 
 width: 860px; 
 margin-top: 5px; 
 margin-left: 5px; 
 padding-top: 12px; 
 padding-bottom: 12px; 
 }


div.company_box {
 color: #333; 
 font-size: 13px; 
 background-repeat: no-repeat; 
 background-position: right top; 
 text-align: left; 
 width: 860px; 
 margin-top: 5px; 
 margin-left: 5px; 
 padding-bottom: 12px; 
 }

div.company_btn {
	margin: 20px 0;
	overflow: hidden;
	width: 865px;
} 
div.company_btn img {
 display: block;
 float: left;
}
 
.photo { text-align: right; margin-bottom: 30px; margin-left: 30px; }



table#table-01, table#table-02  {
 color: #333; 
 font-size: 12px; 
 width: 800px; 
 border: solid 1px #919191; 
 border-collapse: collapse; 
 border-spacing: 0; 
 line-height: 20px; 
 margin-left: 20px;
  }

table#table-01 th{
 color: #063861; 
 padding: 5px; 
 border-width: 0 0 1px 1px; 
 background: #EFEFEF; 
 font-weight: bold; 
 line-height: 120%; 
 text-align: left; 
 vertical-align: top; 
 width: 120px; 
 border-color: #919191; 
 border-style: solid; 
 white-space: nowrap; 
 }
 
table#table-01 td {
 background-color: #fff; 
 padding: 5px; 
 border-width: 0 0 1px 1px; 
 text-align: left; 
 border-color: #919191; 
 border-style: solid; 
 }



table#table-02 th {
 color: #063861; 
 padding: 5px; 
 border-width: 0 0 1px 1px; 
 background: #EFEFEF; 
 font-weight: bold; 
 line-height: 120%; 
 text-align: center; 
 vertical-align: top; 
 border-color: #919191; 
 border-style: solid; 
 white-space: nowrap; 
 }
 
table#table-02 td {
 background-color: #fff; 
 padding: 5px; 
 border-width: 0 0 1px 1px; 
 border-color: #919191; 
 border-style: solid; 
 }
 
.tp { text-align: center; width: 120px; }
 
 
table#table-01 #address { width: 650px; color: #333; font-size: 12px;border:none; line-height: 20px;} 
table#table-01 #address td { padding: 0; margin: 0; border:none; } 
table#table-01 #address #company_p { width: 180px; text-align: center; } 

div.cap {
	font-size: 12px;
	width: 840px;
}
div.business { width: 845px; padding: 0 10px;}
table#business { width: 845px;}
table#business td.business1 { width: 413px; padding: 0 19px 25px 0;}
table#business td.business2 { width: 413px; padding-bottom: 25px;}
table#business p.txt {width: 200px; padding: 5px 15px 0 0; margin: 0;}
table#business p.txt2 {padding: 5px 5px 0 0; margin: 0;}
table#business img#pic {margin-top: 5px; border: #666666 solid 1px; display: block; float: right;}

h3.company_h3 { width: 845px;}


/* staff.css */


div.contents imt {
 margin:0;
 padding:0;
}

div.contents div#right div#staff {
 width: 630px;
 float: left;
 margin-right: 10px;
 margin-left: 10px;
 padding-bottom: 50px;
 }

div#r_img {
 float:left;
 width:218px;
 margin:0;
 padding:0;
 overflow:hidden
}

div#r_img ul {
 float:left;
 margin:0;
 padding:0
}

div#r_img * {
 display:block;
 float:right
}

div.staffbox {
 background-color: #fff;
 background-image: url(../img/staff/box_back.gif);
 background-repeat: repeat-x;
 background-position: left top;
 width: 610px;
 margin-top: 20px;
 margin-bottom: 20px;
 padding-top: 5px;
 padding-bottom: 20px;
 border: solid 1px #d7dde0;
 }

div.staffbox p {
 margin-top: 0;
 margin-bottom: 5px;
 }

.s_title {
 clear: both;
 margin-bottom: 40px;
 padding-top: 50px;
 }

div#staff_menu {
 font-size: 0; 
 text-align: left; 
 width: 620px; 
 margin-top: 50px; 
 }
 
div#staff_menu ul  {
 list-style: none; 
 margin: 0 0 0; 
 padding: 0; 
 }
 
div#staff_menu li {
 text-align: left; 
 width: 150px; 
 height: 40px; 
 float: left; 
 display: block; 
 margin: 0 5px 0 0; 
 padding: 0; 
 }

.sc {
 text-align: right;
 padding-top: 15px;
 }


/* ling.css */


div.linkbox{margin-top: 30px;}

div.linkbox h2 {
 margin-bottom: 0;
 background: url(../../link/images/link_h2.jpg) left top no-repeat;
 padding: 8px 0 0 15px;
 width: 850px;
}

div.linkbox table td.urlad{
 width:200px;
 text-align: right;
}


/* job.css */


 
div#job_t table {
 background-image: url(../img/job/job_tback.jpg); 
 background-repeat: no-repeat; 
 background-position: left top; 
 width: 836px; 
 margin-top: 50px; 
 margin-bottom: 50px; 
 margin-left: 10px; 
 }
 
div#job_t td { margin: 0; padding: 0; }

.job_tr {
 background-image: url(../img/job/job_back.jpg); 
 background-repeat: no-repeat; 
 background-position: left top; 
 width: 334px; 
 height: 139px; 
 padding-left: 5px; 
 }

table#table-01 {
 color: #000; 
 font-size: 12px; 
 width: 835px; 
 border: solid 1px #919191; 
 border-collapse: collapse; 
 border-spacing: 0; 
line-height: 20px;
}

table#table-01 th{
 color: #645238; 
 padding: 5px; 
 border-width: 0 0 1px 1px; 
 background: #EFE9D1; 
 font-weight: bold; 
 line-height: 120%; 
 vertical-align: top; 
 border-color: #919191; 
 border-style: solid; 
 white-space: nowrap;
 }

table#table-01 td {
 padding: 5px; 
 border-width: 0 0 1px 1px; 
 text-align: left; 
 border-color: #919191; 
 border-style: solid; 
 vertical-align: top;
 }
 
table#table-01 span#red {
	color:#990033;
	font-weight: bold;
}

table#table-01 #th1 { 
	widht: 115px;
	text-align: left; 
}

table#table-01 #th2 { 
	widht: 175px;
	text-align: center;
}

table#table-01 #td1 { 
	text-align: center;
} 

table#table-01 .td2 { 
	background-color: #E6EEF4;
} 

table#table-01 .td3 { 
	background-color: #EFEFEF;
} 

ul{
	padding-left: 15px;
	margin: 0;
}   

li{
 padding: 0px;
 margin: 0;
} 


/* main.css */
body {
 color: #000; 
 font-family: "ÇlÇr ÉSÉVÉbÉN", "ÇlÇr ÇoÉSÉVÉbÉN", "ÉqÉâÉMÉmäpÉS Pro W3", Osaka?ìôïù, Osaka, ïΩê¨äpÉSÉVÉbÉN; 
 background-color: #fff; 
 background-image : url(../img/header_back.jpg); 
 background-repeat: repeat-x; 
 background-position: left top; 
 margin: 0; 
 padding: 0; 
 text-align: center; 
 }

img{ border:0; } 

#wrapper {
	margin: 0 auto;
	width: 1100px;
}

p { margin-top: 0; margin-bottom: 1em; }

a:link { color: #396ed5; text-decoration: none; }

a:visited { color: #396ed5; text-decoration: none; }

a:hover { color: #57a2ff; text-decoration: none; }

a:active { color: #396ed5; text-decoration: none; }

div#header {
 text-align: left;
 width: 1100px;
 height: 121px;
 margin: 0 auto;
 padding: 0;
 }

#header ul {
 background : url(../img/header_bg.jpg) no-repeat;
 width: 1100px; 
 list-style: none; 
 height: 121px; 
 margin: 0; 
 padding: 0; 
 }
 
#header li {
 background-position: left top; 
 text-align: left; 
 display: block; 
 height: 121px; 
 float: left ; 
 margin: 0; 
 padding: 0; 
 }

#header li a:hover img {
 filter: alpha(opacity=50);
 -moz-opacity:0.50;
 opacity:0.50;	
}

div.contener {
 width: 1100px;
 clear: both;
 margin: 0 auto;
 padding: 0;
 }

div.side{
 text-align: center;
 width: 195px;
 float: left;
 margin-right: 20px;
 }

div.side a:hover img {
 filter: alpha(opacity=85);
 -moz-opacity:0.85;
 opacity:0.85;
}

div.contents {
 font-size: 12px;
 line-height: 150%;
 text-align: left;
 width: 885px;
 float: right;
 }

.foot {
 clear: both;
 background-image : url(../img/footer_back.gif);
 background-repeat: repeat-x;
 margin-top: 30px;
 }

/*side*/
#side_menu, #side_menu2, #side_menu3, #side_menu4 {
 font-size: 0; 
 text-align: left; 
 width: 195px; 
 margin-top: 0; 
 margin-bottom: 10px; 
 }
 
#side_menu ul, #side_menu2 ul, #side_menu3 ul, #side_menu4 ul  {
 list-style: none; 
 margin: 0 0 0; 
 padding: 0; 
 }
 
#side_menu li, #side_menu2 li, #side_menu3 li, #side_menu4 li  {
 text-align: left; 
 width: 195px; 
 height: auto; 
 margin: 0;
 margin: 0 0 -3px; 
 display: block; 
 padding: 0; 
 }
 
 
/*clear*/
.clear { clear: both; }

.top_anc {
 text-align: right;
 width: 865px;
 clear: both;
 margin-top: 15px;
 margin-bottom: 50px;
 padding-top: 50px;
 }
 
/*h*/
h1 { font-weight: normal; width: 865px; margin: 0; }

h2 {
 color: #063861; 
 font-size: 15px; 
 font-weight: bold; 
 background-image : url(../img/h2.gif); 
 background-repeat: no-repeat; 
 background-position: left top; 
 width: 860px; 
 height: 35px; 
 clear: both; 
 margin-bottom: 15px; 
 padding-top: 8px; 
 padding-left: 5px; 
 }
 
h3 {
 color: #095390; 
 font-size: 15px; 
 font-weight: bold; 
 background-image : url(../img/h3.gif); 
 background-repeat: no-repeat; 
 background-position: left center; 
 width: 100%; 
 margin: 20px 0 15px; 
 padding-bottom: 5px; 
 padding-left: 20px; 
 }
 
 .t h3 {
  color: #095390; 
  font-size: 15px; 
  font-weight: bold; 
  background-image : url(../img/h3.gif); 
  background-repeat: no-repeat; 
  background-position: left center; 
  width: 100%; 
  margin: 0 0 15px; 
  padding-bottom: 5px; 
  padding-left: 20px; 
  }
 
.text { width: 800px; }
.text58 { width: 580px; }
div.c_text { width: 100%; margin-left: 15px; }
.text14 { font-size: 14px; line-height: 25px;}
.blue14 { color: #063861; font-size: 14px; font-weight: bold; }
.brown { color: #715523;}
.red { color: #f00; }


/* added01.css */

#title {clear:both;}
#title img {padding:0 0 20px;}
.anchor {clear:both;}

.anchor p {
 margin:0 0 0 0;
 padding:0 18px;
 background : url(../img/case/down_arrow.jpg) no-repeat left center;
 float:left;
}

.case-header {clear:both;}
.case-header img {padding:20px 0 0px;}
.case-header img.inner {padding:0px 0 0px;}

.case-header2 {clear:both; margin:5px 0 0;}

.inner-content {width:850px;}
.inner-content {text-align:right;}

.blocks-one {overflow-y:auto; clear:both;}

.case-titles {
 background : url(../img/case/case_bg01.jpg) no-repeat;
 float:left;
 margin:30px 0 0;
 height:35px;
}

.case-titles table {width:865px;}
.case-titles th {text-align:left; color:#073860; padding:5px; font-size:1.25em; color:#073860;}
.case-titles th span {font-size:0.75em;}
.case-titles td {text-align:right; padding:4px 6px; font-size:.9em;}
.case-titles td img {padding:5px 0;}
.case-titles td p {float:right; margin:0;}
.case-titles td p.details {padding:5px;}
.case-titles td p.details a {text-decoration:underline;}

.gr-bl {margin:0 15px;}
.gr-bl .gr-bl-header {}
.gr-bl .gr-bl-middle {background : url(../img/case/case-img_32.jpg) repeat-y;}
.gr-bl .gr-bl-middle table {}
.gr-bl .gr-bl-middle table p {margin:0;}
.gr-bl .gr-bl-middle table ul {margin:0; padding:0 20px;}
.gr-bl-mleft {width:255px; padding:5px 10px;}
.gr-bl-mmiddle {padding:5px 0 0 20px;}
.gr-bl-mright {}

.case-header3 {
	background : url(../img/case/case-img_35.gif) no-repeat;
	clear:both;
	height:20px;
	font-weight:bold;
	font-size:1.25em;
	color:#e45500;
	margin-top: 35px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	padding-top: 0;
	padding-right: 19px;
	padding-bottom: 0;
	padding-left: 19px;
}

.reform-about {margin:0 20px;}
.reform-about table.img {margin:5px 15px;}

.reform-about table.img th div {
 text-align:center;
 overflow-y:auto;
 margin:0 0 15px;
 font-weight:normal;
}

.reform-about table.img td {width:640px;}
.reform-about table.img td div {overflow-y:auto; alear:both; float:left; width:640px;}
.reform-about table.img td div div {width:340px; text-align:center;}
.reform-about table.img td div p {margin:0;}
.reform-about table.img td div div img {padding:0 15px 15px 0;}
.reform-about table.img th div {padding:0 20px 5px 0;}

.reform-about table.img td#wide {width:800px;}
.reform-about table.img td#wide div {overflow-y:auto; alear:both; float:left; width:800px;}
.reform-about table.img td#wide div div {width:515px; text-align:center;}
.reform-about table.img td#wide div p {margin:0;}
.reform-about table.img td#wide div div img {padding:0 0px 15px 0;}

.reform-about table.img2 {margin:5px 15px;}
.reform-about table.img2 td,.reform-about table.img2 th {width:394px;}
.reform-about table.img2 th {padding:5px 20px 0 0px;}
.reform-about table.img2 th div.ex div, .reform-about table.img2 td div.ex div {width:323px; margin:0 auto;}
.reform-about table.img2 th p {font-weight:normal; text-align:left; padding:2px 5px; margin:0;}
.reform-about table.img2 td {padding:5px 0px 0 0px;}
.reform-about table.img2 td p {font-weight:normal; text-align:left; padding:2px 5px; margin:0;}

.case-details {clear:both; overflow-y:auto;}
.case-details .left {float:left; width:290px;}
.case-details .left p {float:right; text-align:right; margin:0; width:285px;}
.case-details .left img {float:right; padding:10px 0 0;}
.case-details .right {float:right; width:585px;}
.case-details .right table {background:#666; width:545px; margin:10px 0 0;}

.case-details .right table th {
 background:#efefef;
 font-weight:normal;
 text-align:left;
 padding:5px;
 width:110px;
 line-height:190%;
}

.case-details .right table td {background:#FFF; padding:5px; line-height:190%;}

.case-details .btmleft {float:left; width:397px;}
.case-details .btmleft img {margin:0 10px;}
.case-details .btmleft p {width:375px; margin:5px 0 0 25px;}

.case-details .btmright {float:right; width:425px;}
.case-details .btmright table {background:#666; width:400px; margin:10px 0 0 10px;}

.case-details .btmright table th {
 background:#efefef;
 font-weight:normal;
 text-align:left;
 padding:5px;
 width:75px;
 line-height:190%;
}

.case-details .btmright table td {background:#FFF; padding:5px; line-height:190%;}

.totop {width:865px; clear:both;}
.totop img {float:right; margin:10px 0;}


/* reform.css */


div.reform_t {
 font-size: 13px; 
 background : url(../img/reform/tb_back.jpg) no-repeat right top; 
 text-align: left; 
 width: 860px; 
 height: auto; 
 margin-top: 5px; 
 margin-left: 5px; 
 padding-top: 12px; 
 padding-bottom: 12px;
 clear: both; 
 }
 
div.x2 {
 background : url(../img/reform/x2bg.jpg) no-repeat left top; 
 width: 572px; 
 height: 204px;
 clear: both;
 margin: 18px 0 0 15px; 
 padding: 10px 5px;
 }
 .x2 img {padding-right: 5px;}
 .x2 p{
 	margin: 0 0 15px 0;
 }
 
.c2_1 {
 background : url(../img/reform/c2_back.jpg) no-repeat right top; 
 width: 845px;
 height: 220px; 
 margin-left: 10px; 
 padding: 25px 0 0 0; 
 }
.c2_1 p {padding: 0; margin: 0;}
.c2_1 p.text58 { padding-top: 20px; width: 660px;}

.c2_2 {
 background-image : url(../img/reform/c2_back2.jpg); 
 background-repeat: no-repeat; 
 background-position: right top; 
 width: 850px; 
 margin-top: 20px; 
 margin-left: 15px; 
 padding-top: 43px; 
 padding-bottom: 30px; 
 }


.c2_3 {
 background-image : url(../img/reform/c2_back3.jpg); 
 background-repeat: no-repeat; 
 background-position: right top; 
 width: 850px; 
 margin-top: 20px; 
 margin-left: 15px; 
 padding-top: 26px; 
 padding-bottom: 40px; 
 }
 
.voice {
 background-image : url(../img/reform/voice.jpg); 
 background-repeat: no-repeat; 
 background-position: left top; 
 height: 160px; 
 margin-left: 60px; 
 padding-top: 70px; 
 padding-right: 350px; 
 padding-left: 90px;
 padding-bottom: 30px; 
 }
 
#reform_anchor {
list-style: none;
margin: 25px 0;
padding: 0;
overflow: hidden;
}
#reform_anchor li {
padding-left: 18px;
margin: 0 15px 0 0;
background : url(../../reform/images/anchor.gif) no-repeat left center;
display: inline;
float: left;
}

#reform1-1 { margin: 30px 0 10px 5px;}
#txt {padding: 0 15px; overflow: hidden;}
#txt p {padding: 0 15px 0 0; margin:0; }
#txt img {padding-right: 10px;}
#reform1-2 { margin: 20px 0 10px 5px; clear:both;}

h2#reform2 {
 text-indent: -9999px;
 background : url(../../reform/images/reform2.jpg) no-repeat left top;
 margin: 35px 0 0 0;
 padding: 0;
 height: 50px; 
 width: 865px;
 }
 
#kitchen {margin-bottom: 10px; width:845px; padding: 0 10px; }
#kitchen_p {padding: 10px 5px; overflow: hidden; }
#kitchen_p p {padding: 0 5px ; margin:0; width: 625px; overflow: hidden; }
#kitchen table { width: 408px; margin: 10px 15px 0 0; padding: 0; float: left; }
#kitchen #table2 { width: 408px; margin: 10px 0 0 0; padding: 0;}
#kitchen td#b_bar {
 margin:0; 
 padding: 0; 
 color:#00529F;
 font-weight: bold;
 font-size: 13px;
 background : url(../../reform/images/b_bar.jpg) no-repeat left top; height:24px;
}

h2#eco {
 text-indent: -9999px;
 background : url(../../reform/images/eco.jpg) no-repeat left top;
 margin: 35px 0 0 0;
 padding: 0;
 height: 50px; 
 width: 865px;
 }
.ecobox {
 background : url(../img/reform/eco_back.jpg) no-repeat right top; 
 width: 845px;
 height: 190px; 
 margin-left: 10px; 
 padding: 37px 0 0 0; 
 }
.ecobox p {padding: 0; margin: 0;}
.ecobox p.text58 { padding-top: 20px; width: 660px;}

h2#ih {
 text-indent: -9999px;
 background : url(../../reform/images/ih.jpg) no-repeat left top;
 margin: 35px 0 0 0;
 padding: 0;
 height: 50px; 
 width: 865px;
 }
.ihbox {
 background : url(../img/reform/ih_back.jpg) no-repeat right top; 
 width: 845px;
 height: 153px; 
 margin-left: 10px; 
 padding: 25px 0 0 0; 
 }
.ihbox p {padding: 0; margin: 0;}
.ihbox p.text58 { padding-top: 20px; width: 660px;}

/* top.css */
div.top_t {
 background-image: url(../img/top/b_back.gif); 
 background-repeat: no-repeat; 
 background-position: right top; 
 text-align: left; 
 width: 880px; 
 margin-top: 5px; 
 margin-left: 5px; 
 padding-top: 12px; 
 padding-bottom: 12px; 
 }

div.top_t p{ width: 600px;}

div.topcntens{ width: 880px; margin-left: 5px; overflow: hidden; }

div#news {
 width: 400px; 
 float: left; 
 margin-right: 10px; 
 padding: 7px; 
 border: solid 1px #999; 
 }
 
div#points {
 clear: both;
 width: 880px;
 margin: 25px 0 0 5px;
}
div#points table td#points2 {
 padding: 0;
 margin: 0;
}

dl { margin: 15px 0 0; } 

dl dt {
 font-size: 10px; 
 float: left; 
 width: 85px; 
 margin: 0 0 12px; 
 padding: 0 0 5px; 
 line-height: 120%; 
 }

dl dd {
 _height: 1%; /* Hack for Win IE6 */
	padding: 0 0 5px; 
	line-height: 120%; 
	background-image: url(../img/top/line.gif); 
	background-repeat: repeat-x; 
	background-position: left bottom; 
	margin: 0 0 12px 0; 
	}

div.pickup { width: 440px; float: left; }
div.pickup a:hover img {filter: alpha(opacity=75); -moz-opacity:0.75; opacity:0.75;	}

div.p_block{ width: 215px; float: left; margin-top: 5px; margin-left: 3px; }


/* support.css */


div.support_t {
 font-size: 13px; 
 background-image: url(../img/support/tb_back.jpg); 
 background-repeat: no-repeat; 
 background-position: right top; 
 text-align: left; 
 width: 860px; 
 height: auto; 
 margin-top: 5px; 
 margin-left: 5px; 
 padding-top: 12px; 
 padding-bottom: 12px; 
 }
 

.text58 {width: 580px;}
.text50 {width: 500px;}

.voice {
 background-image: url(../img/support/voice.jpg); 
 background-repeat: no-repeat; 
 background-position: left top; 
 width: 304px; 
 height: 160px; 
 padding: 60px 170px 40px 55px; 
 }
 
 .voice p { color: #063861; font-size: 14px; font-weight: bold; margin: 0 0 5px; }


.b_bar {
 color: #00529f; 
 font-size: 13px; 
 font-weight: bold; 
 background-color: #fff; 
 background-image: url(../img/support/b_bar.gif); 
 background-repeat: no-repeat; 
 background-position: left center; 
 width: 288px; 
 height: 18px; 
 padding-top: 6px; 
 padding-left: 3px; 
 }

.b_bar2 {
 color: #00529f; 
 font-size: 13px; 
 font-weight: bold; 
 background-color: #fff; 
 background-image: url(../img/support/b_bar2bg.jpg); 
 background-repeat: no-repeat; 
 background-position: left center; 
 width: 288px; 
 height: 40px; 
 padding-top: 6px; 
 padding-left: 3px; 
 line-height: 18px;
 }
 p.text2{ width: 283px; padding: 5px; margin: 0;}
 
table.support2 { margin: 0 0 10px 10px; width: 840px; padding-bottom: 35px;}
.support2 td#photo{ padding: 5px; width: 117px;}
.support2 td#text{ padding: 5px; width: 260px;}
.support2 td h3{
font-weight: bold;
margin: 0;
background: url(../../support/images/h3bg.jpg) left top no-repeat;
width: 260px;
}


/* qa.css */

div.qa_t {
 font-size: 12px; 
 background: url(../img/qa/t_back.jpg) left top no-repeat; 
 text-align: left; 
 width: 581px; 
 height: 115px;
 margin-top: 30px; 
 padding: 12px 0 0 12px; 
}
 
div.qa_t p { width: 560px; }

div#qa table {
 width: 835px; 
 margin-left: 13px; 
 }

.q {
 background: url(../img/qa/q.gif) left top no-repeat; 
 padding: 12px 10px 0 25px;
 font-weight: bold; 
 }
 
.ans {
 background: url(../img/qa/a.gif) left top no-repeat; 
 padding: 12px 10px 0px 50px; 
 margin-top: 20px;
 }
 
ul#reform_anchor {
list-style: none;
margin: 20px 0;
padding: 0;
overflow: auto;
}
#reform_anchor li {
padding-left: 18px;
margin: 0 15px 0 0;
background: url(../../reform/images/anchor.gif) left center no-repeat;
display: block;
float: left;
}

div#qa1{
 background: url(../../qa/images/qa1bg.jpg) left top no-repeat;
 clear: both
}

td.space {margin: 0; padding: 0;}
td.line {
 background: url(../img/qa/line.gif) left center no-repeat;
 padding: 0;
}

div#qa2{
 background: url(../../qa/images/qa2bg.jpg) left top no-repeat;
}
div#qa3{
background: url(../../qa/images/qa3bg.jpg) left top no-repeat;
}
div#qa4{
background: url(../../qa/images/qa4bg.jpg) left top no-repeat;
}


/* form.css */
.form {
	font-size: 12px;
	line-height: 18px;
	color: #333333;
	width: 835px;
}
.form table {
	width: 835px;
	background-color: #919191;
}
.txt10 {
	font-size: 10px;
	color: #666666;
	line-height: 12px;
}
.form th {
	color: #063861;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	width: 180px;
	padding: 3px 3px 3px 5px;
	background-color: #EFEFEF;
}
.txt_red {
	color: #FF0000;
}
.submit {
	width: 528px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
.form td {
	vertical-align: top;
	padding: 3px 3px 3px 5px;
	background-color: #FFFFFF;
}
.complete {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 100px;
	font-size: 12px;
	line-height: 18px;
	color: #333333;
}
.form .ERR {
	color: #FF0000;
}
.privacy {
	background-color: #EFEFEF;
	border: 5px solid #E0E0E0;
	padding: 10px 20px;
}
.form2 {
	width: 835px;
	border-right: 1px solid #999999;
	border-left: 1px solid #999999;
}
.form2 td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}
.privacy .title {
	color:#063861;
	font-size: 14px;
	font-weight: bold;
	border-left-width: 5px;
	border-left-style: solid;
	border-left-color: #FF9900;
	padding-left: 7px;
	margin-bottom: 8px;
	line-height: 18px;
}
.privacy p {
	padding: 0px 0px 0px 5px;
	margin: 0px;
	font-size: 12px;
	line-height: 16px;
	color: #333333;
}


